# Default ignored files
/shelf/
/workspace.xml

# Editor-specific files
*.iml
.idea/

# Gradle
.gradle/
build/
local.properties

# Android
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/

# Kotlin
*.kotlin_module

# OS
.DS_Store
Thumbs.db
